@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf') format('truetype');
}

a {
    position: relative;
    display: inline-block;
    font-family: 'Roboto-Thin';
    color: white;
    font-size: 1.70rem;
    text-decoration: none;

    // Line that will be animated
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #CC5F00;
        transition: width 0.4s ease;
    }

    // Hover effect
    &:hover::after {
        width: 100%;
    }
}

// Line that will be animated