@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf') format('truetype');
}

.afterLine{
    &::after {
        transition: width 0.4s ease;
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
    }

    // Hover effect
    &:hover::after {
        width: 100%;
    }
}

a {
    position: relative;
    text-decoration: none;
}
