.profile-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    width: 20rem;
    height: 30rem;
    z-index: 1;
    margin: auto;
}

.profile-img:after {
    content: " ";
    margin: auto;
    background-color: transparent;
    border: 2px solid #CC5F00;
    position: absolute;
    height: 30rem;
    width: 19rem;
    left: auto;
    right: auto;
    /* top: 2.5rem; */
    border-radius: 13px;
    z-index: -1;
}