  body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      background: rgb(74, 34, 0);
      background: linear-gradient(164deg, rgba(74, 34, 0, 1) 0%, rgba(10, 10, 12, 1) 50%);
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  @media screen and (min-width: 1600px) {
      html {
          font-size: 16px;
      }
  }

   @media screen and (max-width: 1600px) {
       html {
           font-size: 13px;
       }
   }

  @media screen and (max-width: 767px) {
      html{
        font-size: 11px;
      }
  }


 